<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <Resource name="jdbc/kimwanyiSaccoDS"
              auth="Container"
              type="javax.sql.DataSource"
              factory="com.zaxxer.hikari.HikariJNDIFactory"
              driverClassName="com.mysql.cj.jdbc.Driver"
              jdbcUrl="jdbc:mysql://localhost:3306/kimwanyi_sacco?useSSL=false&amp;serverTimezone=Africa/Kampala&amp;characterEncoding=UTF-8"
              username="root"
              password="KmaciS_394846"
              maximumPoolSize="10"
              minimumIdle="2"
              connectionTimeout="30000"
              poolName="SaccoHikariPool"/>

</Context>
